doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme" ,content="light")
    meta(name="supported-color-schemes" ,content="light")
    style
      include components.css
    title JIC Newsletter
  body 
    table(width="100%" class="main-container" cellspacing="0" cellspadding="0" border="0")
      tr(align="center")
        td(width="10" style="width:10px") 
        td
          table(cellspacing="0" cellspadding="0" border="0")
            tr
              td
                table(class="newsletter" cellspacing="0" cellspadding="0" border="0")
                  //
                  // Show in browser
                  //
                  tr(style="height:5px")
                    td
                  tr(class="show-in-browser")
                    td(class="content.gray-bg")
                      span
                        a(href="*|ARCHIVE|*" class="gray-text", mc:edit="show-in-browser") Zobrazte si newsletter v prohlížeči
                  tr(style="height:60px")
                    td
                  //
                  // Hero section
                  //
                  tr
                    td
                      table(cellspacing="0" cellspadding="0" border="0" width="100%")
                        tr(style="height:5px")
                          td(colspan="2")
                        tr.hero-header
                          td.logo
                            img(src=`${apiUrl}/images/jic-logo.png`, width="77" height="23")
                          td.date.content
                            p(class="caption date-content", mc:edit="date") květen 2022
                        tr(style="height:80px")
                          td(colspan="2")
                  tr
                    td
                      table(class="hero" cellspacing="0" cellspadding="0" border="0" width="100%")
                        tr
                          td
                            table(cellspacing="0" cellspadding="0" border="0" width="100%")
                              tr
                                td(colspan="2" class="content hero-content layout")
                                  h1(mc:edit="hero-header") Září patří Velvet Innovation 
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  p(class="body-text", mc:edit="hero-perex") Jedno místo, stovky inspirativních osobností a spousta skvělých přednášek
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  h4(class="body-header", mc:edit="hero-subheader", mc:hideable) Top výběr z newsletteru
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  ul(mc:edit="hero-bullets")
                                    li Hanka Šudáková si do JICtalku pozvala Jirku Kobelku z Tatum
                          td(width="30px" style="width:60px")
                        tr(style="height:40px")
                          td(colspan="2")
                  tr
                    td(class="layout")
                      //
                      // Magazine
                      //
                      table(class="section" cellspacing="0" cellspadding="0" border="0" width="100%")
                        tr(class="section-top")
                          td
                            img(src=`${apiUrl}/images/header-magazine-1.png`, class="section-header" width="600" height="226")
                        tr
                          td(class="section-body")
                            table(class="grid" cellspacing="0" cellspadding="0" border="0" width="100%")
                              tr
                                //
                                // Magazine big item
                                //
                                td(class="grid-item-big" colspan="2")
                                  table(cellspacing="0" cellspadding="0" border="0" width="100%")
                                    tr
                                      td
                                        img(class="cover",src=`${apiUrl}/images/placeholder.png`, width="600" height="600", mc:edit="magazine-big-item-image" )
                                    tr(style="height:20px")
                                      td
                                    tr
                                      td
                                        div(class="content")
                                          table(class="tag" cellspacing="0" cellspadding="0" border="0") 
                                            tr(style="height:30px")
                                              td(width="10" style="width:10px")
                                              td
                                                span(class="caption", mc:edit="magazine-big-item-tag") jic talk
                                              td(width="10" style="width:10px")
                                          table
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                h1(mc:edit="magazine-big-item-header") Nadpis lorem ipsum
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                p(mc:edit="magazine-big-item-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                              tr(style="height:40px")
                                td(colspan="2")
                              tr(mc:repeatable)
                                //
                                // Magazine small item
                                //
                                td(class="grid-item-small")
                                  table(cellspacing="0" cellspadding="0" border="0")
                                    tr
                                      td
                                        div(class="content")
                                          table(class="tag" cellspacing="0" cellspadding="0" border="0") 
                                            tr(style="height:30px")
                                              td(width="10" style="width:10px")
                                              td
                                                span(class="caption", mc:edit="magazine-items-col-1-tag") jic talk
                                              td(width="10" style="width:10px")
                                          table
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                h4(mc:edit="magazine-items-col-1-header") Nadpis lorem ipsum
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                p(mc:edit="magazine-items-col-1-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                            tr(style="height:15px")
                                              td
                                            tr(style="height:40px")
                                              td(colspan="2")
                                //
                                // Magazine small item
                                //
                                td(class="grid-item-small")
                                  table(cellspacing="0" cellspadding="0" border="0")
                                    tr
                                      td
                                        div(class="content")
                                          table(class="tag" cellspacing="0" cellspadding="0" border="0") 
                                            tr(style="height:30px")
                                              td(width="10" style="width:10px")
                                              td
                                                span(class="caption", mc:edit="magazine-items-col-2-tag") jic talk
                                              td(width="10" style="width:10px")
                                          table
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                h4(mc:edit="magazine-items-col-2-header") Nadpis lorem ipsum
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                p(mc:edit="magazine-items-col-2-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                            tr(style="height:15px")
                                              td
                                            tr(style="height:40px")
                                              td(colspan="2")
                              tr
                                td(colspan="2")
                                  span(class="btn", mc:edit="btn-all-articles") 
                                    img(src=`${apiUrl}/images/btn-all-articles.png`, width="142" height="33")
                  tr 
                    td(class="layout")
                      //
                      // Events
                      //
                      table(class="section" cellspacing="0" cellspadding="0" border="0" width="100%")
                        tr
                          td
                            img(src=`${apiUrl}/images/header-events.png`, class="section-header" width="600" height="226")
                        tr
                          td(class="section-body")
                            table(class="grid" cellspacing="0" cellspadding="0" border="0" width="100%")
                              tr
                                //
                                // Events big item
                                //
                                td(class="grid-item-big" colspan="2")
                                  table(cellspacing="0" cellspadding="0" border="0" width="100%")
                                    tr
                                      td
                                        img(class="cover", src=`${apiUrl}/images/placeholder.png`, width="600" height="600",  mc:edit="events-big-cover")
                                    tr(style="height:20px")
                                      td
                                    tr
                                      td
                                        div(class="content")
                                          table(class="tag" cellspacing="0" cellspadding="0" border="0") 
                                            tr(style="height:30px")
                                              td(width="10" style="width:10px")
                                              td
                                                span(class="caption", mc:edit="events-big-tag") jic talk
                                              td(width="10" style="width:10px")
                                          table
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                h1(mc:edit="events-big-header") Nadpis lorem ipsum
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                p(mc:edit="events-big-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                div(class="info-tags", mc:edit="events-big-info")
                                                  div.caption 19. 2. 2022, 19 – 21 hod.
                                                  div.caption brno-medlánky
                              tr(style="height:40px")
                                td(colspan="2")
                              tr(mc:repeatable)
                                // 
                                // Events small item
                                //
                                td(class="grid-item-small")
                                  table(cellspacing="0" cellspadding="0" border="0")
                                    tr
                                      td
                                        div(class="content")
                                          table(class="tag" cellspacing="0" cellspadding="0" border="0") 
                                            tr(style="height:30px")
                                              td(width="10" style="width:10px")
                                              td
                                                span(class="caption", mc:edit="events-items-col-1-tag") jic talk
                                              td(width="10" style="width:10px")
                                          table
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                h4(mc:edit="events-items-col-1-header") Nadpis lorem ipsum
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                p(mc:edit="events-items-col-1-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                div(class="info-tags", mc:edit="events-items-col-1-info")
                                                  div.caption 19. 2. 2022, 19 – 21 hod.
                                                  div.caption brno-medlánky
                                              td(width="15" style="width:15px")
                                            tr(style="height:40px")
                                              td(colspan="2")
                                // 
                                // Events small item
                                //
                                td(class="grid-item-small")
                                  table(cellspacing="0" cellspadding="0" border="0")
                                    tr
                                      td
                                        div(class="content")
                                          table(class="tag" cellspacing="0" cellspadding="0" border="0") 
                                            tr(style="height:30px")
                                              td(width="10" style="width:10px")
                                              td
                                                span(class="caption", mc:edit="events-items-col-2-tag") jic talk
                                              td(width="10" style="width:10px")
                                          table
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                h4(mc:edit="events-items-col-2-header") Nadpis lorem ipsum
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                p(mc:edit="events-items-col-2-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                            tr(style="height:15px")
                                              td
                                            tr
                                              td
                                                div(class="info-tags", mc:edit="events-items-col-2-info")
                                                  div.caption 19. 2. 2022, 19 – 21 hod.
                                                  div.caption brno-medlánky
                                              td(width="15" style="width:15px")
                                            tr(style="height:40px")
                                              td(colspan="2")
                              tr
                                td(colspan="2")
                                  span(class="btn", mc:edit="btn-all-events") 
                                    img(src=`${apiUrl}/images/btn-all-events.png`, width="125" height="33")
                      //
                      // Startup
                      //
                      table(class="section" cellspacing="0" cellspadding="0" border="0" width="100%")
                        tr
                          td
                            img(src=`${apiUrl}/images/header-startup.png`, class="section-header" width="600" height="295")
                        tr
                          td(class="section-body margin")
                            table(class="grid startup" cellspacing="0" cellspadding="0" border="0" width="100%")
                              tr(style="height:30px")
                                td
                              tr(mc:repeatable)
                                td(class="content")
                                  table
                                    tr
                                      td
                                        table(class="startup-item")
                                          tr
                                            td
                                              h4(mc:edit="startup-item-1-header") Nadpis lorem ipsum
                                          tr(style="height:5px")
                                            td
                                          tr
                                            td
                                              p(mc:edit="startup-item-1-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                    tr(style="height:30px")
                                      td
                                    tr
                                      td
                                        img(class="divider" width="600" height="2", src=`${apiUrl}/images/divider.png`)
                                    tr(style="height:30px")
                                      td
                      //
                      // Advices
                      //
                      table(class="section" cellspacing="0" cellspadding="0" border="0" width="100%")
                        tr
                          td
                            img(src=`${apiUrl}/images/header-advices.png`, class="section-header" width="600" height="226")
                        tr
                          td(class="section-body")
                            table(class="grid" cellspacing="0" cellspadding="0" border="0" width="100%")
                              tr
                                td(class="advices")
                                  table( cellspacing="0" cellspadding="0" border="0")
                                    tr
                                      td
                                        img(src=`${apiUrl}/images/placeholder.png`, class="human" width="600" height="600", mc:edit="human-photo")
                                    tr(style="height:40px")
                                      td
                                    tr
                                      td(class="quote content")
                                        img(src=`${apiUrl}/images/quotes.png`, class="quotes" width="24" height="20")
                                    tr(style="height:15px")
                                      td
                                    tr
                                      td.content
                                        p(mc:edit="human-perex") Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů). Lipsum tak pracovně znázorňuje text v ukázkových maketách (tzv. mock-up) předtím, než bude do hotového návrhu vložen smysluplný obsah. 
                                    tr(style="height:15px")
                                      td
                                    tr
                                      td
                                        h3(mc:edit="human-name") Petr Chládek
                                    tr(style="height:5px")
                                      td
                                    tr
                                      td
                                        span(mc:edit="human-position") Ředitel JIC
                      //
                      // Pelmel
                      //
                      table(class="section" cellspacing="0" cellspadding="0" border="0")
                        tr
                          td
                            img(src=`${apiUrl}/images/pelmel-header-1.png`, class="section-header" width="600" height="290")
                        tr(style="height:30px")
                          td
                        tr
                          td(class="section-body margin")
                            table(class="grid" cellspacing="0" cellspadding="0" border="0")
                              tr(mc:repeatable)
                                td(class="pelmel")
                                  div
                                    table
                                      tr(style="height:5px")
                                        td
                                      tr
                                        td
                                          h4(mc:edit="pelmel-item-1") Kiwi se vrací do hry
                                      tr(style="height:5px")
                                        td
                        tr(style="height:40px")
                          td
                  tr
                    td(class="generic-content")
                      //
                      // Generic content
                      //
                      table(cellspacing="0" cellspadding="0" border="0")
                        //
                        // Blockquote
                        //
                        tr(mc:hideable, mc:repeatable)                
                          td(class="layout")
                            table(cellspacing="0" cellspadding="0" border="0")
                              tr(style="height:60px")
                                td
                              tr
                                td
                                  span(class="blockquote") 
                                    h2(mc:edit="blockquote") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  div(class="btn", mc:edit="btn-learn-more-blockquote") 
                                    img(src=`${apiUrl}/images/btn-learn-more.png`, width="105" height="33")
                              tr(style="height:60px")
                                td
                        //
                        // Text block
                        //
                        tr(mc:hideable, mc:repeatable)                
                          td(class="layout")
                            span(class="figure-banner") 
                              table
                                tr
                                  td
                                    div(class="content")
                                      h1(mc:edit="image-text-block-header") Nadpis textového bloku
                                tr(style="height:15px")
                                  td
                                tr
                                  td
                                    p(mc:edit="image-text-block-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                                tr(style="height:15px")
                                  td
                                tr
                                  td
                                    div(class="btn", mc:edit="btn-learn-more-blockquote") 
                                      img(src=`${apiUrl}/images/btn-learn-more.png`, width="105" height="33")
                                tr(style="height:60px")
                                  td
                        //
                        // Image text block
                        //
                        tr(mc:hideable, mc:repeatable)
                          td(class="layout figure-banner")
                            table( cellspacing="0" cellspadding="0" border="0")
                              tr
                                td
                                  img(src=`${apiUrl}/images/placeholder.png`, class="cover" width="600" height="600",  mc:edit="text-block-cover")
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  div(class="content")
                                    h1(mc:edit="text-block-header") Nadpis textového bloku
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  p(mc:edit="text-block-perex") Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                              tr(style="height:15px")
                                td
                              tr
                                td
                                  div(class="btn", mc:edit="btn-learn-more-text-block") 
                                    img(src=`${apiUrl}/images/btn-learn-more.png`, width="105" height="33")
                              tr(style="height:60px")
                                td
                  tr
                    //
                    // Footer
                    //
                    td.footer
                      img(src=`${apiUrl}/images/header-footer.png`, class="section-header" width="600" height="238")
                      div(class="section-body margin")
                        table
                          tr(style="height:40px")
                            td
                          tr
                            td
                              p(mc:edit="cta") Chceš vědět víc o tom, co děláme? Mrkněte na naše webovky nebo nám napište na 
                                a(href="mailto:marketing@jic.cz") marketing@jic.cz
                          tr
                            td(style="height:40px")
                          tr
                            td
                              table(class="socials" cellspacing="0" cellspadding="0" border="0")
                                tr
                                  td
                                    a(href="https://www.facebook.com/jic.brno") 
                                      img(src=`${apiUrl}/images/fb-dark-cutted.png`, width="15" height="24")
                                  td
                                    a(href="https://www.linkedin.com/company/jic-brno/") 
                                      img(src=`${apiUrl}/images/in-dark.png`, width="24" height="24")
                                  td
                                    a(href="https://www.instagram.com/jic_brno/") 
                                      img(src=`${apiUrl}/images/ig-dark.png`, width="24" height="24")
                                  td
                                    a(href="https://www.youtube.com/user/JICbrno") 
                                      img(src=`${apiUrl}/images/yt-dark.png`, width="24" height="24")
                                  td
                                    a(href="https://twitter.com/JIC_Brno") 
                                      img(src=`${apiUrl}/images/tw-dark.png`, width="24" height="24")
                  tr(style="height:30px")
                    td
                  //
                  // Unsub
                  //
                  tr
                    td
                      a(href="*|UNSUB|*" class="unsub violet-text", mc:edit="unsub") Pro odhlášení z odběru newsletteru klikněte zde
                  tr(style="height:30px")
                    td
        td(width="10" style="width:10px")