doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme" ,content="light")
    meta(name="supported-color-schemes" ,content="light")
    style
      include components.css
    title JIC Newsletter
  body 
    table.newsletter
      tr.show-in-browser 
        td.content.gray-bg
          span
            a(href="http://",class="gray-text") Zobrazte si newsletter v prohlížeči
      tr
        td
          table.hero
            tr.hero-header
              td.logo
                img(src=`${apiUrl}/images/jic-logo.png`)
              td.date.content
                span.caption květen 2022
            tr
              td(colspan="2", class="content hero-content layout")
                h1 Září patří Velvet Innovation 
                p.body-text Jedno místo, stovky inspirativních osobností a spousta skvělých přednášek
                h4.body-header Top výběr z newsletteru
                ul
                  li Hanka Šudáková si do JICtalku pozvala Jirku Kobelku z Tatum
                  li Hanka Šudáková si do JICtalku pozvala Jirku Kobelku z Tatum
                  li Hanka Šudáková si do JICtalku pozvala Jirku Kobelku z Tatum
      tr
        td.layout
          table.section
            tr.section-top
              td
                img(src=`${apiUrl}/images/header-magazine.png`, class="section-header")
            tr
              td.section-body
                table.grid
                  tr
                    td(class="grid-item-big", colspan="2")
                      a(href="http://")
                        img(src=`${apiUrl}/images/placeholder.png`)
                        div.content
                          span.tag jic talk
                          h1 Nadpis lorem ipsum
                          p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                  tr
                    td.grid-item-small
                      a(href="http://")
                        div.content
                          span.tag jic talk
                          h4 Nadpis lorem ipsum
                          p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                    td.grid-item-small
                      a(href="http://")
                        div.content
                          span.tag jic talk
                          h4 Nadpis lorem ipsum
                          p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                  tr
                    td(colspan="2")
                      a(class="btn", href="http://") 
                        img(src=`${apiUrl}/images/btn-all-articles.png`)
          table.section
            tr
              td
                img(src=`${apiUrl}/images/header-events.png`, class="section-header")
            tr
              td.section-body
                table.grid
                  tr
                    td(class="grid-item-big", colspan="2")
                      a(href="http://")
                        img(src=`${apiUrl}/images/placeholder.png`)
                        div.content
                          span.tag jic talk
                          h1 Nadpis lorem ipsum
                          p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                          div.info-tags
                            span 19. 2. 2022, 19 – 21 hod.
                            span brno-medlánky
                  tr
                    td.grid-item-small
                      a(href="http://")
                        div.content
                          span.tag jic talk
                          h4 Nadpis lorem ipsum
                          p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                          div.info-tags
                            span 19. 2. 2022, 19 – 21 hod.
                            span brno-medlánky
                    td.grid-item-small
                      a(href="http://")
                        div.content
                          span.tag jic talk
                          h4 Nadpis lorem ipsum
                          p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                          div.info-tags
                            span 19. 2. 2022, 19 – 21 hod.
                            span brno-medlánky
                  tr
                    td(colspan="2")
                      a(class="btn", href="http://") 
                        img(src=`${apiUrl}/images/btn-all-events.png`)
          table.section
            tr
              td
                img(src=`${apiUrl}/images/header-pelmel.png`, class="section-header")
            tr
              td.section-body.margin
                table.grid
                  tr
                    td(class="pelmel", colspan="2")
                      a(href="http://") 
                        h4 Kiwi se vrací do hry
                      a(href="http://") 
                        h4 Musk koupil Twitter
                      a(href="http://") 
                        h4 Smartlook jde za moře
                      a(href="http://") 
                        h4 Solitea zase nakupuje
                      a(href="http://") 
                        h4 Kiwi se vrací do hry
                      a(href="http://") 
                        h4 Musk koupil Twitter
                      a(href="http://") 
                        h4 Smartlook jde za moře
                      a(href="http://") 
                        h4 Solitea zase nakupuje
          table.section
            tr
              td
                img(src=`${apiUrl}/images/header-startup.png`, class="section-header")
            tr
              td.section-body.margin
                table.grid
                  tr
                    td.content
                      a(class="startup-item", href="http://")
                        h4 Nadpis lorem ipsum
                        p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                      a(class="startup-item", href="http://")
                        h4 Nadpis lorem ipsum
                        p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
                      a(class="startup-item", href="http://")
                        h4 Nadpis lorem ipsum
                        p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
          table.section
            tr
              td
                img(src=`${apiUrl}/images/header-advices.png`, class="section-header")
            tr
              td.section-body
                table.grid
                  tr
                    td
                      img(src=`${apiUrl}/images/placeholder.png`)
                      div.quote.content
                        img(src=`${apiUrl}/images/quotes.png`, class="quotes")
                        p.big Tvoříme otevřený inovační ekosystém, který je domovem globálně úspěšných podnikatelů a inspiruje svět. Tvoříme otevřený inovační ekosystém, který je domovem globálně úspěšných podnikatelů a inspiruje svět. Tvoříme otevřený inovační ekosystém, který je domovem globálně úspěšných podnikatelů a inspiruje svět.
                        h3 Petr Chládek
                        span Ředitel JIC
      tr                
        td.layout
          a(href="http://", class="blockquote") 
            h2 Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
            div(class="btn") 
              img(src=`${apiUrl}/images/btn-learn-more.png`)
      tr
        td.layout
          a(href="http://", class="figure-banner") 
            img(src=`${apiUrl}/images/placeholder.png`)
            div.content
              h1 Nadpis textového bloku
              p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
            div(class="btn") 
              img(src=`${apiUrl}/images/btn-learn-more.png`)
          a(href="http://", class="figure-banner") 
            div.content
              h1 Nadpis textového bloku
              p Jsme inovační agentura a poskytujeme služby vedoucí k podpoře podnikatelů a studentů s touhou podnikat.
            div(class="btn") 
              img(src=`${apiUrl}/images/btn-learn-more.png`)
      tr
        td.footer
          img(src=`${apiUrl}/images/header-footer.png`, class="section-header")
          div.section-body.margin
            p Chceš vědět víc o tom, co děláme? Mrkněte na naše webovky nebo nám napište na 
              a(href="http://") marketing@jic.cz
            table.socials
              tr
                td
                  a(href="http://") 
                    img(src=`${apiUrl}/images/fb-dark-cutted.png`)
                td
                  a(href="http://") 
                    img(src=`${apiUrl}/images/in-dark.png`)
                td
                  a(href="http://") 
                    img(src=`${apiUrl}/images/ig-dark.png`)
                td
                  a(href="http://") 
                    img(src=`${apiUrl}/images/yt-dark.png`)
                td
                  a(href="http://") 
                    img(src=`${apiUrl}/images/tw-dark.png`)
  a(href="http://", class="unsub violet-text") Pro odhlášení z odběru newsletteru klikněte zde







